@-moz-document url-prefix("chrome:") {
	:root[zen-compact-mode='true']:not([customizing]):not([inDOMFullscreen='true']) {
	  @media (-moz-bool-pref: "zen.view.compact.hide-tabbar") or (-moz-bool-pref: "zen.view.use-single-toolbar") {
	    #navigator-toolbox {
	      --zen-toolbox-max-width: 66px !important;
	    }
	  }
	}

	:root:not([zen-sidebar-expanded='true']) {
	  --zen-toolbox-max-width: calc(36px + var(--zen-toolbox-padding) * 2) !important;
	  --tab-collapsed-background-width: 36px !important;
	  --tab-collapsed-width: calc(var(--tab-collapsed-background-width) + 2 * var(--tab-inner-inline-margin)) !important;
	}

	#navigator-toolbox:not([zen-sidebar-expanded='true']) {
	  max-width: var(--zen-toolbox-max-width) !important;
	  min-width: var(--zen-toolbox-max-width) !important;

	  & #zen-sidebar-top-buttons, 
	    #zen-sidebar-top-buttons-customization-target {
		  padding: 0px !important;
		  margin-top: -3px !important;
		  scale: 1;
	  }
	}

	@media (-moz-bool-pref: "zen.view.compact.hide-toolbar") {
	  &:not([zen-single-toolbar='true']) {
	    & #titlebar {
	      margin-top: 0px !important;
	    }
	  }
	}

	tab-group[split-view-group] {
	  padding: 0 !important;

	  :root:not([zen-sidebar-expanded='true']) & {
	    padding: 0 !important;
	  }
	}
}